
@{
    ViewBag.Title = "Quản lý điểm danh";
    Layout = "~/Areas/QTV/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/style.css" rel="stylesheet" />


<div class="team-boxed">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Hệ thống quản lý tài khoản dành cho các quản trị viên</h2>
        </div>
        <div class="row people">
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded" src="~/Content/img/acc.png">
                    <h3 class="name">Tài khoản</h3>
                    <p class="description">Hiện tại có @ViewBag.sltaikhoan tài khoản trong hệ thống.<br>Bấm vào nút bên dưới để quản lý các tài khoản.</p>
                    <a href="~/QTV/Taikhoans" type="button" class="btn btn-primary">Quản lý tài khoản</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 item">
                <div class="box">
                    <img class="rounded-circle" src="~/Content/img/teacher.png">
                    <h3 class="name">Giảng viên</h3>
                    <p class="description">Hiện tại có @ViewBag.slgiangvien giảng viên trong hệ thống.<br>Bấm vào nút bên dưới để xem thông tin giảng viên.</p>
                    <a href="~/QTV/giangviens" type="button" class="btn btn-primary">Danh sách giảng viên</a>
                </div>
            </div>
        </div>
    </div>
</div>
