
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/QTV/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive text-center">
                <h2>@ViewBag.error</h2>
            </div>
        </div>
    </div>
</div>
