@model List<string>

@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_Empty_Layout.cshtml";
}


<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive text-center">
                <h2>@ViewBag.error</h2>
            </div>
        </div>
        <hr />
        <div class="ml-5">
            <h4>Các sinh viên đã tồn tại trong hệ thống là : </h4>
            @foreach (string masv in Model)
            {
                <h5>@masv</h5>
            }
        </div>
    </div>
</div>






